{% extends "layout.html" %}
{% block body %}
{{sentence}}
<p></p>
<div class="ui twitter button">
    <a href="http://twitter.com/intent/tweet?button_hashtag={{cleanhashtag}}&text={{sentence}}">
        <style>
            a { text-decoration:none; color:white; } </style>
        Tweet It
</a>
</div>
<p></p>
<form action="/hashtag/1" method=post>
    <div class = "ui input">
	<input type=text name=hashtag placeholder="#hashtag" autocomplete="off" value = #{{cleanhashtag}}>
    </div>
    <button class="massive ui twitter button">
	Generate Another.
    </button>
</form>

{% endblock %}

